<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% block css %}
        {% endblock %}
        <title></title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </body>
</html>