{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'report/style.css' %}">
{% endblock %}

{% block content %}

<div class="container">
  <form id="contact" action="" method="post">
  {% csrf_token %}
    <h3>Customers Filter</h3>
    <fieldset>
      <select name="customer" >
          {% if customers %}
              {% for customer in customers %}
                  <option value={{ customer.id }}>{{ customer.name }}</option>
              {% endfor %}
          {% endif %}
      </select>
    </fieldset>
    <fieldset>
      <select name="filter_by">
          <option value="email">By Email</option>
          <option value="user">Uploaded By User</option>
      </select>
    </fieldset>
      <fieldset>
          <h2>Initial Date</h2>
          <input name="initial_date" type="date" tabindex="3" required>
      </fieldset>
    <fieldset>
      <h2>Finished Date</h2>
      <input name="finished_date" type="date" tabindex="3" required>
    </fieldset>
    <fieldset>
        <h2>Send Status</h2>
        <select name="send_status">
          <option value="True">Sent</option>
          <option value="False">Not Sent</option>
      </select>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>

{% endblock %}